{% extends 'qamqor/base.html' %}
{% load static %}

{% block content %}

<div class="container" id="about-us">
    <div class="row my-5">
        <div class="col-7">
            <h4>About Us</h4>

            <p>Qamqor Gas specializes in middle-market transactions companies with a transaction value between $1 million to $100 million. We are a full-service firm providing the necessary expertise to successfully complete the transaction. We offer Business Brokerage Services, Business Appraisal Services and Consulting.</p>
        </div>
        <div class="col-5">
            <img src="{% static 'pictures/profile.jpg' %}" alt="">
        </div>
    </div>
</div>














{% endblock%}