{% extends 'qamqor/base.html' %}
{% load static %}

{% block content %}

<div class="container" id="brokerage">
    <div class="row my-5">

        <div class="col-4">
            <img src="{% static 'pictures/brokerage.jpg' %}" alt="">
        </div>

        <div class="col-8">

            <h4>Brokerage Services</h4>

            <p>
                Business brokerage accounts for approximately 75% of the firm's revenues.  We represent both sellers and  buyers but never both in the same transaction.  Details of the services we provide sellers and buyers can be found by visiting the Buyer and Seller pages.
            </p>


            <h4>What we offer</h4>

            <ul>
                <li>
                    We offer business brokerage services for petroleum products. 
                </li>
                <li>
                    Recommendation of refineries
                </li>
                <li>
                    Recommendation of tank storage and injection companies.
                </li>

                <li>
                    Recommendation of gold sellers.
                </li>


                <li>
                    Recommendation for sales of rice, flour, wheat e.t.c.
                </li>

                <li>
                    Recommendation for aluminium and metallic products.
                </li>

                <li>
                    Recommendation of verified resellers of all kind. 
                </li>

                <li>
                    Recommendation of verified buyers of all kind. 
                </li>
            </ul>

            
        </div>
        
    </div>
</div>


{% endblock %}