{% extends 'qamqor/base.html' %}
{% load static %}

{% block content %}

<div class="container" id="brokerage">
    <div class="row my-5">

        <div class="col-4">
            <img src="{% static 'pictures/brokerage.jpg' %}" alt="">
        </div>

        <div class="col-8">
            <h4>Brokerage Services</h4>

            <p>Business brokerage accounts for approximately 75% of the firm's revenues.  We represent both sellers and  buyers but never both in the same transaction.  Details of the services we provide sellers and buyers can be found by visiting the Buyer and Seller pages.</p>
        </div>
        
    </div>
</div>


{% endblock %}