{% extends 'qamqor/base.html' %}
{% load static %}

{% block content %}

<div class="container" id="consulting">
    <div class="row my-5">

        <div class="col-4">
            <img src="{% static 'pictures/consulting.jpg' %}" alt="">
        </div>

        <div class="col-8">
            <h4>Consulting</h4>
            

            <p>Business Intermediary Services, Ltd.offers consulting services related to corporate development and building shareholder value. Our consulting assignments are divided almost equally between these two areas of expertise.</p>

            <p>Our corporate development clients are seeking strategic advice on how to grow their companies. These assignments require an in depth analysis of all the critical factors related to the alternatives available and determining those alternatives which are best for the company.  We extensively use  the “Real-Win-Worth” methodology developed by Schrello Associates, Inc. By looking at only 20 questions- 6 related to “Is it REAL?,” 8 related to “Can we WIN?.” and 6 related to “Is it WORTH it?”-a business decision can be made relatively quick regarding a product or service. These assignments usually begin with a Consulting Agreement and often  lead to the client retaining us to conduct an acquisition search and perform a Business Appraisal of an acquisition candidate.</p>

            <p>Building shareholder value is a growing area of our consulting practice. We have never met a shareholder who did not want his business to be worth more. It is our extensive experience and education that gives us the knowledge to analyze a company's financial performance relative to other similar companies and making recommendations on areas where improvements will result in an improved bottom line.</p>
        </div>
        
    </div>
</div>


{% endblock %}